*.swo
*.swp
*.iml
.idea
.DS_Store
target
.externalToolBuilders
maven-eclipse.xml
coverage-error.log
.settings
.project
.classpath
/runner/*.error
.checkstyle
.ruleset
.pmd
atlassian-ide-plugin.xml
/temp
build
.gradle
out
gradle.properties
classes
/bin
/hs_err_*.log
